footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: #16161d;
  color: white;
  display: flex;
  align-items: center;
}

.footer-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left > h4 {
  font-family: "Roboto";
  font-size: 1vmax;
}

.footer-left > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer-left > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.footer-mid {
  width: 60%;
  text-align: center;
}

.footer-mid > h1 {
  font-size: 2vmax;
  font-family: "Roboto";
  color: white;
}

.footer-mid > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.footer-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-right > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}

.footer-right > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.footer-right > a:hover {
  color: #eb4034;
}
